html,body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color:#EEE; 
}

/* Layout CSS */

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}


/* Footer */

#push,#footer {
  height: 60px;
}

#footer {
  background-color: #000;

}

.container .text {
  margin: 20px 0;
  color: #FFF;
}

/* Navbar */

.navbar-inner {
  background-color: #000;

}

/* Home Layout */

.home {
    width:100%; 
    text-align: center;
    overflow: hidden;
    padding:20px;
    margin-top: -20px;
}

.home h1 {
  font-size: 80px;
  padding: 50px 0 10px 0;
}

.home p {
  font-size: 20px;
}

/* Responsive Goodness */

@media (max-width: 1400px) {  /* Laptop */

}

         
@media (max-width: 1024px) {  /* iPad Landscape */

}

@media (max-width: 767px) {  /* iPad Portrait */
  
  .navbar-inner {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 685px) {  /* Samsung Galaxy Landscape */


}

@media (max-width: 600px) {  /* Amazon Kindle Portrait */

}

@media (max-width: 568px)  { /* iPhone 5 Landscape */

}

@media (max-width: 480px)  { /* iPhone 3 & 4 Landscape */

}

@media (max-width: 380px) {  /* Samsung Galaxy Portrait */

}

@media (max-width: 320px) {  /* iPhone 3,4 & 5 Portrait - old Android Landscape */

}

@media (max-width: 240px) {  /* old Android Portrait */


}
